*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color:#666;
}

.container{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw; 
    justify-content: center;
    align-content: start;
    grid-gap: 1vw;
}

.container-flex{
    display: flex;
}

nav ul li a{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #666;
}

nav ul {
    text-align: center;
}

h1{
    grid-column: span 6;
    padding-top: 15vh;
}

#logo{
    grid-column: 3/5;
}

#logo img{
    width: 30vw;
}

nav{
    width: 100vw;
    grid-column: span 6;
}

nav ul li{
    display: inline;
    list-style: none;
}

header{
    width: 100vw;
    height: 15vh;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

section{
    width: 100vw;
}

section div{
    grid-column: span 6;
}

h1{
    grid-column: span 6;
    line-height: 40px
}

#sobre div div{
    float: left;
    width: 50%;
    align-self: flex-end
}

#sobre div div img{
    width: 90%;
    border: black 1px solid;
}

#sobre{
    letter-spacing: 1px;
    line-height: 20px; 
}

#sobre div p{
    text-indent: 20px;
    text-align: justify;
}

#curso-wd{
    border-top:2vh solid #f00;
}

#curso-prog{
    border-top:2vh solid #0f0;
}

#curso-seg{
    border-top:2vh solid #00f;
}

#cursos div h2{
    background-color: #ddd;
    text-align: center;
    color: #777;
    padding: 2vh 0 2vh 0;
}
#cursos div img{
    width: 100%;
}

#planos-bronze{
    padding-top: 3vh;
    height: 57vh;
    background-color: #B8860B;
}

.planos-h2{
    text-align: center;
    padding: 2%;
    margin-bottom: 5%;
    width: 100%;
    background-color: #fff;
    border: 1px solid black;
}

#planos-bronze p{
    margin: 2vh 0 2vh 0;
    background-color: #fff;
    font-size: 3vh;
    line-height: 5vh;
}

#planos-prata{
    padding-top: 3vh;
    margin-top: 5vh;
    height: 57vh;
    background-color: #C0C0C0;
}

#planos-prata p{
    margin: 2vh 0 2vh 0;
    background-color: #fff;
    font-size: 3vh;
    line-height: 5vh;
}

#planos-ouro{
    padding-top: 3vh;
    margin-top: 5vh;
    height: 57vh;
    background-color: #DAA520;
}


#planos-ouro p{
    margin: 2vh 0 2vh 0;
    background-color: #fff;
    font-size: 3vh;
    line-height: 5vh;
}

#v-quantidade{
    border-left: 5px solid purple;
}

#v-eficiencia{
    border-left: 5px solid red;
}

#v-compromisso{
    border-left: 5px solid green;
}

#v-inovacao{
    border-left: 5px solid yellow;
}

#v-pesquisa{
    border-left: 5px solid violet;
}

#v-qualidade{
    border-left: 5px solid skyblue;
}

#valores div p{
    margin-left: 2vh;
}

.planos-contratar{
    visibility: hidden;
}

@media only screen and (min-width: 980px){
    #logo{
        grid-column: 1/2;
    }

    #logo img{
        width: 10vw;
    }

    nav{
        grid-column: 3/6
    }

    section div{
        grid-column: span 2;
    }

    #sobre div{
        grid-column: span 3;
    }

    #curso-wd{
        margin-top:20vh
    }

    #curso-prog{
        margin-top:10vh
    }

    #planos{
        width: 100%;
        display: flex;
    }

    #planos-div{
        width: 100%;
        display: flex;
    }

    #planos-div div{
        float: left;
        width: 25%;
        margin: 0% 3% 0% 3%;
        padding: 1vh;
        align-self: flex-end;
    }

    #planos-bronze{
        height: 41vh;
        background-color: #B8860B;
    }
    
    #planos-prata{
        padding-top: 3vh;
        margin-top: 5vh;
        height: 47vh;
        background-color: #C0C0C0;
    }
    
    #planos-ouro{
        padding-top: 3vh;
        margin-top: 5vh;
        height: 57vh;
        background-color: yellow;
    }

    .planos-contratar{
        visibility :visible;
        border: 1px solid black;
        text-align: center;
    }
}